@use './variaveis' as *;

.camera-box {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 2rem;
  max-width: 850px;
  margin: 2rem auto;
  text-align: center;
  color: $claro;
  box-shadow: 0 0 25px rgba(247, 27, 228, 0.4);
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .preview {
    width: 80%;
    aspect-ratio: 16 / 9;
    background: $fundo;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    video,
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;
    }
  }


  .galeria {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1rem;

    h2 {
      margin-bottom: 1rem;
    }

    .grid-fotos {
      display: flex;
      flex-wrap: wrap; 
      justify-content: center;
      gap: 1rem;

      figure {
        background: rgba(0, 0, 0, 0.4);
        border-radius: 8px;
        padding: 0.5rem;
        text-align: center;
        width: 150px;

        img {
          width: 100%;
          height: 150px;
          object-fit: cover;
          border-radius: 6px;
          cursor: pointer;
          transition: transform 0.2s ease-in-out;

          &:hover {
            transform: scale(1.05);
          }
        }

        figcaption {
          margin-top: 0.5rem;
          font-size: 0.9rem;
        }
      }
    }
  }
}


.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: flex-start; // permite scroll
  overflow-y: auto;
  padding: 2rem 0;
  z-index: 1000;

  img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
  }
}
